
div.input-block {
  position: relative;
  margin-bottom: 20px;
  font-family: lato;
}
div.input-block input  {
  font-weight: 500;
  font-size: 1rem;
  color: #495055;
  width: 24rem;
  padding: 0px 15px;
  border: 1px solid  #090909;
  height: 56px;
  border-radius: 0.3rem;
}
div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  color:  #093C59;
  display: flex;
  font-size: 1rem;
  top: 0;
  left: 17px;
  transition: all 0.3s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}
div.input-block input:focus{
  color: #000000;
  border-color: #090909;
}
div.input-block input:focus + span.placeholder {
  color: #093C59;
  font-size: 16px;
}


.input-text{
  height: 200px !important;
  text-align: left;
  display: flex;
  align-items: start;
} 
